$primary-light-color: #a3a0cc;

.top_header {
  width: 100%;
  padding: 20px 10%;

  .logo_heading {
    font-weight: bold;
    letter-spacing: 1.4px;
    span {
      color: $primary-light-color;
    }
  }
  ul > li {
    transition: 0.2s all ease-in-out;
  }
  ul > li:hover {
    color: $primary-light-color;
  }
}
